* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
}

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    color: #0a85a3;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header {
    width: 100%;
    height: 650px;
    background: #bc4e9c;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, hsla(187, 95%, 50%, 0.459), hsla(224, 92%, 51%, 0.493)), url(../img/portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(187, 95%, 50%, 0.459), hsla(224, 92%, 51%, 0.493)), url(../img/portada.jpg);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

nav{
    height: 40px;
    background:rgba(0, 0, 0, 0.555);
    padding: 5px 10px 0 0;
    transition: top 0.5s;
    position:fixed;
}

nav > a{
    color:#ffff;
    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color:#fff;
}

.textos-header h2{
    font-size: 30px;
    font-weight: 300;
    color:#fff;
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* About us */


.contenedor-sobre-nosotros{
    display: flex;
   justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48%;
}

.contenido-textos h3{
    margin-bottom: 10px;
}

.contenido-textos h3 span{
    background: #059156;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/*para mujeres*/

.contenedor-sobre-nosotras{
    display: flex;
   justify-content: space-evenly;
}

.imagen-about-nosotras{
    width: 48%;
}

.sobre-nosotras .contenido-textos-nosotras{
    width: 48%;
}

.contenido-textos-nosotras h3{
    margin-bottom: 10px;
}

.contenido-textos-nosotras h3 span{
    background: #f706a7;
    color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    margin-right: 5px;
}

.contenido-textos-nosotras p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Galeria */

.portafolio{
    background: #f2f2f2;
}

.galeria-port{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-port{
    width: 44%;
    margin-bottom: 10px;
    height: 200px;
    width: 200px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
}

.imagen-port > img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: rgba(217, 240, 9, 0.7);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria img{
    width: 50px;
}

.hover-galeria p{
    color: #fff;
}

.imagen-port:hover .hover-galeria{
    transform: scale(1);
}

/*  Revista */

.about-revistas{
    background: #fff;
    padding-bottom: 30px;
}

.revista-cont{
    display:flex;
    justify-content: space-between;
    align-items: justify;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: center;
}

.servicio-ind > a{
    color:rgba(59, 11, 192, 0.918);
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
    text-decoration: none;
    margin-right: 10px;
}
/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ccc;
}

.content-foo{
    text-align: center;
}

.content-foo h4{
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 5px;
    margin-bottom: 10px;
}


.content-foo > a{
    color:#fff;
    font-size: auto;
    text-align: center;
    margin-bottom: 60px;
    text-decoration: none;
    margin-right: 10px;
}

.titulo-final{
    text-align: center;
    font-size: 24px;
    margin: 20px 0 0 0;
    color: #fff;
}

@media screen and (max-width:900px){
    header{
        background-position: center;
    }

    .contenedor-sobre-nosotros{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-sobre-nosotras{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .sobre-nosotros .contenido-textos-nosotras{
        width: 90%;
    }

    .sobre-nosotras .contenido-textos{
        width: 90%;
    }

     .imagen-about-us{
        width: 90%;
    }

    .imagen-about-nosotras{
        width: 90%;
    }

    /* Galeria */

    .imagen-port{
        width: 100%;
        height: 100%;
    }
    /* revista */
    .contenedor{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .servicio-ind{
        width: 100%;
        align-items: center;
        text-align: center;
    }
    .servicio-ind >img{
        float:center;
    }

    .revista-cont > img{
        align-items:center;
    }
}

@media screen and (max-width:360px){
    nav{
        text-align: center;
        height: 60px;
        padding: 5px 0px 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 90px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    .imagen-about-nosotras{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotras .contenido-textos-nosotras{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }
     /*Revistas*/
     .contenedor{
        width: 95%;
        flex-direction: column;
        border: center;
     }
     .servicio-ind{
        width: 95%;
        align-items: center;
        text-align: center;
     }

     .revista-cont{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    .servicio-ind >img{
        align-items:center;
    }
    .revista-cont > img{
        align-items:center;
    }


    /* Footer */
    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}

@media screen and (max-width:250px){
    header{
        image-orientation: center;
    }
    nav{
        text-align: center;
        height: 60px;
        padding: 5px 0px 0 0;
    }

    nav > a{
        margin-right: 5px;
    }

    .textos-header h1{
        font-size: 35px;
    }

    .textos-header h2{
        font-size: 20px;
    }

    /* ABOUT US */

    .imagen-about-us{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotros .contenido-textos{
        width: 95%;
    }

    .imagen-about-nosotras{
        margin-bottom: 60px;
        width: 99%;
    }

    .sobre-nosotras .contenido-textos-nosotras{
        width: 95%;
    }

    /* Galeria */

    .imagen-port{
        width: 95%;
    }
    /*Revista*/

    .contenedor{
        width: 95%;
        flex-direction: column;
        border: none;
     }
     .servicio-ind{
        width: 95%;
        align-items: center;
        text-align: center;
     }
    .servicio-ind >img{
        align-items:center;
    }
    .revista-cont > img{
        align-items:center;
    }
     .revista-cont{
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
    /* Footer */

    .contenedor-footer{
        flex-direction: column;
        border: none;
    }

    .content-foo{
        margin-bottom: 20px;
        text-align: center;
    }

    .content-foo h4{
        border: none;
    }

    .content-foo p{
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding-bottom: 20px;
    }

    .titulo-final{
        font-size: 20px;
    }
}